<h1>About idea - PicturePint</h1>

<p>This app was developed in RoR, using Ruby 2.3.0 and Rails 5.</p>

<h2>TL;DR</h2>

<p>Application is a small version of Pinterest - you can create your profile and upload photos with descriptions.</p>

<h2>Gems used</h2>
	<ul>
		<li> devise - for authentication</li>
		<li> paperclip - for photo upload</li>
		<li> bootstrap - for providing basic styling</li>
		<li> will_paginate - for basic pagination</li>
		<li>masonry-rails - for animations</li>
	</ul>
<h2>Heroku deployment</h2>

<p>I decided to deploy my app to heroku. You can find it under: http://picturepint.herokuapp.com</p>