// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #000000;

.button {
	&--action {
		&__sign-in {
    		background-color: $black;
    		border-color: $black;	
		}	
		&__log-out {
			background-color: $black;
    		border-color: $black;
		}
		&__log-in {
			background-color: $black;
    		border-color: $black;
		}
	}
}

