// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$black: #000000;
$red: #cb2027;

.button {
	&--action {
		&__sign-in {
    		background-color: $black;
    		border-color: $black;	
		}	
		&__log-out {
			background-color: $black;
    		border-color: $black;
		}
		&__log-in {
			background-color: $black;
    		border-color: $black;
		}
		&__new-pint {
			background-color: $black;
    		border-color: $black;
		}
		&__sign-in:hover, &__sign-in:active, &__sign-in:focus {
    		background-color: $red;
    		border-color: $red;	
		}	
		&__log-out:hover, &__log-out:active, &__log-out:focus {
			background-color: $red;
    		border-color: $red;
		}
		&__log-in:hover, &__log-in:active, &__log-in:focus {
			background-color: $red;
    		border-color: $red;
		}
		&__new-pint:hover, &__new-pint:active, &__new-pint:focus {
			background-color: $red;
    		border-color: $red;
		}
	}
}
